<div class="login-page page">

  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Вход</h1>

    <div class="alert alert-danger" *ngIf="auth.error$ | async as error">{{error}}</div>

    <div class="form-control">
      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Введите email..." formControlName="email">
      <div
        *ngIf="form.get('email').touched && form.get('email').invalid"
        class="validation"
      >
        <small *ngIf="form.get('email').errors.required">
          Заполните поле электронной почты.
        </small>

        <small *ngIf="form.get('email').errors.email">
          Введите корректную электронную почту.
        </small>
      </div>
    </div>

    <div class="form-control">
      <label for="password">Пароль</label>
      <input id="password" type="password" placeholder="Введите пароль..." formControlName="password">
      <div
        *ngIf="form.get('password').touched && form.get('password').invalid"
        class="validation"
      >
        <small *ngIf="form.get('password').errors.required">
          Заполните поле пароля.
        </small>

        <small *ngIf="form.get('password').errors.minlength">
          Минимальная длинна пароля {{form.get('password').errors.minlength.requiredLength}} символов.
          Сейчас {{form.get('password').errors.minlength.actualLength}} символов.
        </small>
      </div>
    </div>

    <button
      class="btn"
      type="submit"
      [disabled]="form.invalid || submitted"
    >
      Войти</button>
  </form>

</div>
